__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
*.pdb
*.so

.venv/
venv/
env/
ENV/

.ipynb_checkpoints/
*.ipynb_checkpoints

.DS_Store
Thumbs.db

logs/
*.log

model_output/
results/
output/
outputs/

processing_output/
processing_outputs/
*.parquet
*.arrow

dist/
build/
*.egg-info/

docker/*.tar
docker/*.img
docker/*.log

cdk.out/
template.json

.vscode/
.idea/
